@media screen and (max-width: 1134px) {
	.experiencia .divisao ul li {
		width: 11.875rem;
	}

	.experiencia .divisao {
		gap: 2%;
	}

	.experiencia .divisao .detalhes {
		width: 33.125rem;
	}

	.experiencia .divisao .detalhes div h2 {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 876px) {
	.experiencia {
		padding: 6.25rem 5%;
		margin-bottom: 0;
	}

	.experiencia .divisao .detalhes {
		width: 28.125rem;
	}

	.experiencia .divisao .detalhes div p {
		font-size: 0.8rem;
	}

	.experiencia .divisao .detalhes .desc {
		font-size: 1rem;
	}
}

@media screen and (max-width: 755px) {
	.experiencia {
		width: 100%;
	}

	.experiencia .divisao {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		gap: 1rem;
	}

	.experiencia .divisao ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		margin-bottom: 1rem;
		width: 100%;
	}

	.experiencia .divisao ul li,
	.gray-light .experiencia .divisao ul li {
		border: none;
		border-bottom: 2px solid #151515;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-left: 0;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.gray-light .experiencia .divisao ul li {
		border-bottom: 2px solid #f9f9f9;
	}

	.experiencia .divisao ul .ativo,
	.gray-light .experiencia .divisao ul .ativo {
		border: none;
		border-bottom: 2px solid #00d2df;
	}

	.experiencia .divisao .detalhes {
		width: 100%;
	}
}
